/* removes all inherited padding and margins*/
*{
    margin:0;
    padding:0;

    /* For Login Form */
    box-sizing: border-box;
}

body {
    background:rgb(226, 204, 146, 0.25);
	font-family:"Trebuchet MS", Calibri, sans-serif;
	font-size:15px;
	line-height: 1.5em;
	margin: -10px;
	margin-bottom: 20px;
    overflow-x: hidden;
    color:#444;
}

/* help footer on welcome page stay on bottom of page */
.bottom {
    width: 86%;
    height: 3em;
    bottom: 1em;
    text-align: center;
    position: absolute;
}

img {
    cursor: pointer;
}

a {
    color: #222222;
    border-bottom: 1px solid #fcfcfc;
    text-decoration: none;
    padding:1px 5px 2px 5px;
}

a:hover {
   border-bottom: 4px solid #7b9ebe;
   transition: all 0.2s ease-out;
   background-color: #e3e3e3;
}

h1{
    color:rgb(226, 204, 146);
    line-height: 2em;
    font-size: 3em;
}

h2{
    color:rgb(226, 204, 146);
    line-height: 2em;
    font-size:25px;
}

.header{
	position: fixed;
	background: #fcfcfc;
	width:105%;
	margin-top: -140px;
	box-shadow:0 4px 10px -4px rgba(0,0,0,.1);
}

.logo{
	width:350px;
	margin-top: -25px;
	margin-left: 70px;
}

.navbar{
	float:right;
	width: 510px;
	margin-right:125px;
    margin-top: -80px;
	letter-spacing: 1.2px;
	font-size:16px;
	text-transform: uppercase;
	word-spacing: 20px;
	font-weight: 500;
}

/**************************/
/*      welcome page      */
/**************************/

/* wrapper without site content */
#welcome-wrapper {
    margin: 150px 100px 10px 100px;
    height: 100%;
}

#welcome {
    padding-top: 13em;
}

#welcome-text {
    font-size: 1.2em;
}

.blue-text {
    color: #7b9ebe;
}

/* column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* create two unequal columns that sit next to each other */
/* left, larger column */
.large {
    flex: 60%;
}

/* form area, right column */
.form-area {
    flex: 40%;
}

/**** NEW FORM ****/
.form-user {
    font-size: 13px;
    height: 100%;
    color: #666;
    background-color: white;
    border-radius: 4px;
}

#login-form {
    padding: 2em 3em 2em 3em;
}

.form-container > h2 {
    color: #7b9ebe;
}

#user-buttons {
    padding-top: 1.8em;
}

.other-button {
    color: #7b9ebe;
    padding: 5px;
    padding-top: 1em;
    cursor: pointer;
    border: 1px solid white;
    background-color: white;
    font-family: "Trebuchet MS", Calibri, sans-serif;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    top: 5px;
}

/* uses .other-button class aside from border radius */
.logout-button {
    color: white;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #7b9ebe;
    background-color: #7b9ebe;
    font-family: "Trebuchet MS", Calibri, sans-serif;
    font-size: 1.1em;
    width: 20%;
    text-align: center;
    border-radius: 7px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 11px;
}

.logout-button:hover {
    cursor: pointer;
    background-color:white;
    color: #7b9ebe;
    transition: all 0.3s ease-out;
}

.main-button 
{
    background-color: #7b9ebe;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid#7b9ebe;
    font-family:"Trebuchet MS", Calibri, sans-serif;
    font-size: 1.1em;
    width: 95%;
    height: 3em;
}

.form-user .other-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form-user .main-button:hover {
    cursor: pointer;
    background-color:white;
    border:2px solid #7b9ebe;
    color:#7b9ebe;
    transition: all 0.3s ease-out;
}

.form-user label>p {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}

.form-user label{
    display: block;
    width: 98%;
    padding: 10px 10px 10px 0;
    border-radius:4px;
    margin-left: 10px;
    font-size: 1.1em;
    line-height: 1em;
    margin-top:10px;
}

.form-user input[type="text"],
.form-user input[type="password"] {
    color: #555;
    height: 4em;
    width: 95%;
    font-size: 1.1em;
    line-height:15px;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #e2e2e2;
    outline: 0;
    border-radius:4px;
    margin-left: 10px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font-family: courier;
}

.indent{
	position:relative;
	left:25px;
}


/* NEW FORM END */


/* The popup form - hidden by default */
.form-popup 
{
    display: none;
    position: absolute;
    width: 40%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f1f1f1;
    z-index: 99;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Calibri, sans-serif;
}

/* Add styles to the form container */
.form-container 
{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

#logo {
    grid-area: logo;
    width:250px;
    text-align: center;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow:1px 4px 10px -4px rgba(0,0,0,.1);
}

#body {
    grid-area: body;
    padding: 15px;
    background-color: #fcfcfc;
    margin: 0px 0px 0px 35px;
    border-radius: 5px;
    box-shadow:1px 4px 10px -4px rgba(0,0,0,.1);
    width:100%;
    float:left;
}

#footer {
    grid-area: footer;
    text-align: center;
    padding: 25px 0px 0px 0px;
    color: black;
    font-size: 1.05em;
}

#wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "logo  body  body  body"
        "logo  body  body  body"
        "logo  body  body  body"
        "footer footer footer footer";
        margin: 150px 125px 30px 125px;
}



/* styles title of website */
#title{
    font-size: 50px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 450;
    background-color: #D6A577;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 15px;
}


/* end horizontal nav styling */


/* new horizontal nav which includes vertical nav */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e3e3e3;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px;
}
  
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul { 
    display: none; 
}
ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 8px;
}
  
li:hover > ul {
    display: block;
    position: absolute;
    border-radius: 8px;
}
  
li:hover li { 
    float: none; 
}
  
li:hover li a:hover { 
    border-radius: 8px;
}
  
li ul li { 
    border-top: 0; 
}

ul ul ul {
    left: 100%;
    top: 0;
}



/**QUIZ FORM STYLE**/
.form {
    margin-left:auto;
    margin-right:auto;
    font-size: 13px ;
    width:715px;
    color: #666;
}

.form label {
    display: block;
    width:400px;
    margin: 0px 0px 5px;
}
.form label>p {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.form input[type="text"], 
.form textarea, 
.form select {
    color: #555;
    height: 30px;
    line-height:15px;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #e2e2e2;
    outline: 0;
    border-radius:4px;
    margin-left: 10px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font-family: courier;
}

.form textarea{
    height:60px;
    width: 98%;
    padding-top: 10px;
    border-radius:4px;
    font-family: courier;
    font-size:12px;
}
.form select {
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.form .button {
    background-color: #7b9ebe;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 7px 22px 7px 22px;
    width: 100px;
    border:2px solid #7b9ebe;
    letter-spacing: 1px;
    color: #FFF;
    margin-left: 45%;
    margin-right: 50%;
    text-transform: uppercase;
}
.form .button:hover {
	cursor:pointer;
    background-color:white;
    border:2px solid #7b9ebe;
    color:#7b9ebe;
    transition: all 0.3s ease-out;
}
.indent{
	position:relative;
	left:25px;
}

.form label{
    width: 98%;
    padding: 10px 5px 10px 10px;
    border-radius:4px;
    background: #e2e2e2;
    margin-left: 10px;
    font-family: courier;
    font-size:12px;
    line-height: 1em;
    margin-top:10px;
}

.form label:hover{
	background: rgb(226, 204, 146, 0.4);
	transition: all 0.35s ease-out;
}
